:root {
  font-size: 62.5%;
}

html {
  height: 100%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  padding: 0;
  min-width: 320px;
  min-height: 100vh;
  word-wrap: break-word;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-size: 1.4rem;
  line-height: 2.2rem;
  color: #ffffff;
  background-color: #181f2a;
}

a {
  text-decoration: none;
}

.btn {
  display: inline-block;
  padding: 1em 3em;
  font-family: Raleway;
  font-size: 1.7rem;
  line-height: 2.4rem;
  font-weight: 700;
  color: inherit;
  text-align: center;
  border: none;
  border-radius: 50px;
  background-image: linear-gradient(to right, #65e2d9, #339ecc);
}

/* ======= HEADER ========= */
.page-header {
  background-color: #1c2431;
}

.page-header--curvy {
  background-image: url("../img/bg-curvy-mobile.svg");
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: 200% 60%;
}

.site-navigation {
  /* max-width: 1440px; */
  max-width: 1140px;
  margin: 0 auto;
}

.site-navigation__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 3.5rem 2rem;
  list-style: none;
}

.site-navigation__item {
  font-size: 1.6rem;
}

.site-navigation__item--logo {
  width: 100%;
  text-align: center;
}

.site-navigation__link {
  display: block;
  padding: 1em;
  color: inherit;
}

.site-navigation__item--logo .site-navigation__link {
  padding: 0;
}

.site-navigation__logo {
  width: 160px; /* 176 */
  height: 48px; /* 53 */
}

.intro {
  max-width: 1140px;
  margin: 0 auto;
  padding: 3.5rem 2rem;
  text-align: center;
  /* background-color: seagreen; */
}

.intro__image {
  width: 100%;
  max-width: 500px;
  height: 100%;
}

.intro__title {
  margin: 0 auto;
  margin-top: 5rem;
  max-width: 450px;
  font-family: Raleway;
  font-size: 2.7rem;
  line-height: 4rem;
}

.intro__description {
  margin: 0 auto;
  margin-top: 3.8rem;
  padding: 0;
  max-width: 460px;
  font-size: 1.7rem;
  line-height: 2.7rem;
}

.intro__start-btn {
  width: 100%;
  max-width: 375px;
  margin-top: 4rem;
}

@media (min-width: 480px) {
  .page-header--curvy {
    background-size: 180% 60%;
  }

  .site-navigation__item--logo {
    flex-grow: 1;
    width: initial;
    text-align: left;
  }
}

@media (min-width: 768px) {
  .page-header--curvy {
    background-size: 100% auto;
  }

  .site-navigation__logo {
    width: 176px;
    height: 53px;
  }
}

/* ======== MAIN ========== */
.features {
  max-width: 1140px;
  margin: 0 auto;
}

.features__list {
  margin: 0;
  padding: 3.5rem 2rem;
  text-align: center;
  list-style: none;
}

.features__item {
  padding-top: 11rem;
}

.features__item:not(:first-child) {
  margin-top: 8rem;
}

.features__item--access {
  background-image: url("../img/icon-access-anywhere.svg");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: 83px 78px;
}

.features__item--security {
  background-image: url("../img/icon-security.svg");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: 70px 88px;
}

.features__item--collaboration {
  background-image: url("../img/icon-collaboration.svg");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: 86px 71px;
}

.features__item--store {
  background-image: url("../img/icon-any-file.svg");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: 91px 64px;
}

.features__title {
  margin: 0;
}

.features__description {
  margin: 0 auto;
  margin-top: 1rem;
  max-width: 320px;
}

.location {
  max-width: 1140px;
  margin: 0 auto;
  padding: 3.5rem 2rem;
}

.location__content {
  max-width: 500px;
  margin: 0 auto;
}

.location__image {
  display: block;
  width: 100%;
  max-width: 460px;
  height: 100%;
  margin: 0 auto;
}

.location__title {
  margin: 0;
  margin-top: 5rem;
  font-family: Raleway;
}

.location__text {
  margin: 0;
  margin-top: 2rem;
}

.location__link {
  position: relative;
  display: inline-block;
  margin-top: 2rem;
  padding-right: 22px;
  font-size: 1.2rem;
  color: #62E0D9;
}

.location__link::before {
  content: "";
  position: absolute;
  bottom: -6px;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #62E0D9;
}

.location__link::after {
  content: "";
  position: absolute;
  top: 1px;
  right: 0;
  width: 1.6rem;
  height: 1.6rem;
  background-image: url("../img/icon-arrow.svg");
}

.feedback {
  max-width: 1140px;
  margin: 0 auto;
  margin-top: 8rem;
  padding: 3.5rem 2rem;
}

.feedback__item {
  max-width: 375px;
  margin: 0 auto;
  padding: 2.5em 2em;
  border-radius: 5px;
  background-color: #202a3c;
}

.feedback__item:not(:first-child) {
  margin-top: 2.5rem;
}

.feedback__content {
  margin: 0;
  padding: 0;
}

.feedback__footer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 2rem;
}

.feedback__photo {
  width: 40px;
  height: 40px;
  margin-right: 1.5rem;
  border-radius: 50%;
}

.feedback__author {
  font-style: normal;
}

.feedback__author-name,
.feedback__author-job-title {
  display: block;
  letter-spacing: 1px;
}

.feedback__author-name {
  font-weight: 700;
}

.feedback__author-job-title {
  font-size: 1.2rem;
}

.sign-up {
  max-width: 1140px;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .features__list {
    margin: 0;
    display: flex;
    flex-wrap: wrap;
  }

  .features__item {
    width: 50%;
    padding-bottom: 6rem;
    padding-left: 3rem;
    padding-right: 3rem;
  }

  .features__item:not(:first-child) {
    margin-top: 0;
  }

  .features__description {
    max-width: 360px;
  }

  .feedback {
    display: flex;
    flex-wrap: wrap;
  }

  .feedback__item {
    width: 30%;
  }

  .feedback__item:not(:first-child) {
    margin-top: 0;
  }
}

/* ======= FOOTER ========= */
.page-footer {
  background-color: #0b1523;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution__link {
  color: #3e52a3;
}




.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
