:root {
  font-size: 62.5%;
}

html {
  height: 100%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  padding: 0;
  min-width: 320px;
  min-height: 100vh;
  word-wrap: break-word;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-size: 1.4rem;
  line-height: 2.2rem;
  color: #ffffff;
  background-color: #181f2a;
}

a {
  text-decoration: none;
}

.btn {
  display: inline-block;
  padding: 1em 3em;
  font-family: Raleway;
  font-weight: 700;
  color: inherit;
  text-align: center;
  border: none;
  border-radius: 50px;
  background-image: linear-gradient(to right, #65e2d9, #339ecc);
  cursor: pointer;
}

.btn:hover,
.btn:focus {
  opacity: 0.9;
}

.btn:active {
  opacity: 0.8;
}

.wrapper {
  max-width: 1440px;
  margin: 0 auto;
  padding-left: 2rem;
  padding-right: 2rem;
}

@media (min-width: 768px) {
  body {
    font-size: 1.7rem;
    line-height: 2.7rem;
  }

  .wrapper {
    padding-left: 4rem;
    padding-right: 4rem;
  }
}

.page-header {
  background-color: #1c2431;
}

.page-header--curvy {
  background-image: url("../img/bg-curvy-mobile.svg");
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: 170% 60%;
}

.site-navigation {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.site-navigation__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.site-navigation__item {
  font-size: 1.6rem;
}

.site-navigation__item--logo {
  width: 100%;
}

.site-navigation__logo {
  display: block;
  margin: 0 auto;
  width: 160px;
  height: 48px;
}

.site-navigation__link {
  display: block;
  padding: 1em;
  color: inherit;
}

.site-navigation__link:hover,
.site-navigation__link:focus {
  opacity: 0.8;
}

.site-navigation__link:active {
  opacity: 0.65;
}

.site-navigation__item--logo .site-navigation__link {
  padding: 0;
}

.intro {
  padding-top: 2rem;
  padding-bottom: 2rem;
  text-align: center;
}

.intro__image {
  width: 100%;
  max-width: 500px;
  height: 100%;
}

.intro__title {
  margin: 0 auto;
  margin-top: 3.5rem;
  max-width: 600px;
  font-family: Raleway;
  font-size: 2.3rem;
  line-height: 3.6rem;
}

.intro__description {
  margin: 0 auto;
  margin-top: 2rem;
  padding: 0;
  max-width: 500px;
}

.intro__start-btn {
  width: 80%;
  max-width: 275px;
  margin-top: 3rem;
}

@media (min-width: 480px) {
  .page-header--curvy {
    background-size: 180% 60%;
  }

  .site-navigation__item--logo {
    flex-grow: 1;
    width: initial;
  }

  .site-navigation__logo {
    margin: 0;
  }
}

@media (min-width: 768px) {
  .page-header--curvy {
    background-size: 100% auto;
  }

  .site-navigation__logo {
    width: 176px;
    height: 53px;
  }

  .intro__title {
    font-size: 3.4rem;
    line-height: 4.5rem;
  }
}

.features {
  padding-top: 12rem;
  padding-bottom: 12rem;
}

.features__list {
  margin: 0;
  padding: 0;
  text-align: center;
  list-style: none;
}

.features__item {
  padding-top: 12rem;
}

.features__item:not(:first-child) {
  margin-top: 9rem;
}

.features__item--access {
  background-image: url("../img/icon-access-anywhere.svg");
  background-repeat: no-repeat;
  background-position: 50% 7px;
  background-size: 83px 78px;
}

.features__item--security {
  background-image: url("../img/icon-security.svg");
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: 70px 88px;
}

.features__item--collaboration {
  background-image: url("../img/icon-collaboration.svg");
  background-repeat: no-repeat;
  background-position: 50% 12px;
  background-size: 86px 71px;
}

.features__item--store {
  background-image: url("../img/icon-any-file.svg");
  background-repeat: no-repeat;
  background-position: 50% 15px;
  background-size: 91px 64px;
}

.features__title {
  margin: 0;
  font-family: Raleway;
  font-size: 1.7rem;
  line-height: 2.5rem;
}

.features__description {
  max-width: 460px;
  margin: 0 auto;
  margin-top: 1rem;
}

.location {
  padding-top: 3.5rem;
  padding-bottom: 3.5rem;
}

.location__image {
  display: block;
  width: 100%;
  max-width: 460px;
  height: 100%;
  margin: 0 auto;
}

.location__content {
  max-width: 500px;
  margin: 0 auto;
}

.location__title {
  margin: 0;
  margin-top: 5rem;
  font-family: Raleway;
  font-size: 1.7rem;
  line-height: 2.5rem;
}

.location__text {
  margin: 0;
  margin-top: 2rem;
}

.location__link {
  position: relative;
  display: inline-block;
  margin-top: 2rem;
  padding-right: 2.2rem;
  font-size: 1.2rem;
  color: #62e0d9;
}

.location__link:hover,
.location__link:focus {
  opacity: 0.9;
}

.location__link:active {
  opacity: 0.8;
}

.location__link::before {
  content: "";
  position: absolute;
  bottom: -6px;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #62e0d9;
}

.location__link::after {
  content: "";
  position: absolute;
  top: 3px;
  right: 0;
  width: 1.6rem;
  height: 1.6rem;
  background-image: url("../img/icon-arrow.svg");
}

.feedback {
  margin-top: 8rem;
  padding: 5rem 2rem;
}

.feedback__item {
  position: relative;
  max-width: 375px;
  margin: 0 auto;
  padding: 2.5em 2em;
  font-size: 1.1rem;
  border-radius: 5px;
  background-color: #202a3c;
}

.feedback__item:first-of-type::before {
  content: "";
  position: absolute;
  top: -35px;
  left: 10px;
  display: block;
  width: 55px;
  height: 45px;
  background-image: url("../img/bg-quotes.png");
  z-index: -1;
}

.feedback__item:not(:first-child) {
  margin-top: 2.5rem;
}

.feedback__content {
  margin: 0;
}

.feedback__footer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 2rem;
}

.feedback__photo {
  width: 40px;
  height: 40px;
  margin-right: 1.5rem;
  border-radius: 50%;
}

.feedback__author {
  font-style: normal;
}

.feedback__author-name,
.feedback__author-job-title {
  display: block;
  letter-spacing: 1px;
}

.feedback__author-name {
  font-weight: 700;
}

.feedback__author-job-title {
  font-size: 1rem;
}

.sign-up {
  position: relative;
  max-width: 865px;
  margin: 0 auto;
  margin-top: 7rem;
  padding: 4rem 2.5rem;
  text-align: center;
  background-color: #1c2431;
  border-radius: 10px;
}

.sign-up__title {
  margin: 0;
  font-family: Raleway;
  font-size: 1.7rem;
  line-height: 2.5rem;
}

.sign-up__content {
  margin: 0 auto;
  margin-top: 1.5rem;
}

.sign-up__form {
  margin: 0 auto;
  margin-top: 3rem;
}

.sign-up__input {
  display: block;
  width: 100%;
  padding: 1.3em 3em;
  border: none;
  border-radius: 30px;
}

.sign-up__btn {
  width: 100%;
  margin-top: 2.5rem;
  padding-top: 1.3em;
  padding-bottom: 1.3em;
}

@media (min-width: 768px) {
  .features {
    padding-bottom: 5rem;
  }

  .features__list {
    display: flex;
    flex-wrap: wrap;
  }

  .features__item {
    width: 50%;
    padding-bottom: 2em;
    padding-left: 2em;
    padding-right: 2em;
  }

  .features__item:not(:first-child) {
    margin-top: 0;
  }

  .features__title {
    font-size: 2.2rem;
    line-height: 3rem;
  }

  .features__description {
    max-width: 360px;
  }

  .location {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }

  .location__image {
    width: 50%;
  }

  .location__content {
    width: 50%;
    max-width: initial;
    padding: 2rem 3rem;
  }

  .location__title {
    max-width: 250px;
    margin-top: 0;
    font-size: 2.7rem;
    line-height: 4rem;
  }

  .location__link::after {
    top: 6px;
  }

  .feedback {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-left: 0;
    padding-right: 0;
  }

  .feedback__item {
    margin: 0;
    width: 30%;
    font-size: 1.3rem;
  }

  .feedback__item:not(:first-child) {
    margin-top: 0;
  }

  .feedback__footer {
    text-align: center;
  }

  .feedback__photo {
    margin: 0 auto;
  }

  .feedback__author {
    width: 100%;
    margin-top: 1rem;
  }

  .sign-up {
    padding-left: 7rem;
    padding-right: 7rem;
  }

  .sign-up__title {
    font-size: 2.5rem;
    line-height: 4rem;
  }

  .sign-up__btn {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    font-size: 1.6rem;
  }
}

@media (min-width: 875px) {
  .feedback__footer {
    text-align: left;
  }

  .feedback__photo {
    margin: 0;
    margin-right: 1.5rem;
  }

  .feedback__author {
    width: initial;
    margin-top: 0;
  }

  .sign-up__form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-top: 4rem;
  }

  .sign-up__input {
    width: 60%;
  }

  .sign-up__btn {
    width: 37%;
    margin-top: 0;
    margin-left: 1rem;
  }
}

.page-footer {
  margin-top: -19rem;
  padding-top: 28rem;
  padding-bottom: 3.5rem;
  background-color: #0b1523;
  z-index: -100;
}

.page-footer__logo-wrapper {
  width: 100%;
}

.page-footer__logo {
  width: 160px;
  height: 48px;
  margin-left: 1.2rem;
}

.page-footer__contacts {
  margin-top: 3rem;
  margin-bottom: 8.5rem;
}

.page-footer__links {
  margin-top: 5rem;
}

.page-footer__social {
  margin-top: 9rem;
}

.page-footer__attribution {
  width: 100%;
  margin-top: 4rem;
}

.contacts__location,
.contacts__phone,
.contacts__email {
  position: relative;
  padding-left: 4rem;
}

.contacts__location {
  margin: 0;
}

.contacts__location::before {
  content: "";
  position: absolute;
  left: 0;
  top: 4px;
  display: block;
  width: 13px;
  height: 18px;
  background-image: url("../img/icon-location.svg");
}

.contacts__phone,
.contacts__email {
  display: block;
  margin-top: 2rem;
  color: inherit;
}

.contacts__phone:hover,
.contacts__email:hover,
.contacts__phone:focus,
.contacts__email:focus {
  opacity: 0.8;
}

.contacts__phone:active,
.contacts__email:active {
  opacity: 0.7;
}

.contacts__phone::before {
  content: "";
  position: absolute;
  left: 0;
  top: 2px;
  display: block;
  width: 18px;
  height: 18px;
  background-image: url("../img/icon-phone.svg");
}

.contacts__email::before {
  content: "";
  position: absolute;
  left: 0;
  top: 3px;
  display: block;
  width: 20px;
  height: 16px;
  background-image: url("../img/icon-email.svg");
}

.useful-links {
  padding: 0;
  list-style: none;
  font-size: 1.7rem;
}

.useful-links__item:not(:first-child) {
  margin-top: 1.5rem;
}

.useful-links__link {
  color: inherit;
}

.useful-links__link:hover,
.useful-links__link:focus {
  opacity: 0.8;
}

.useful-links__link:active {
  opacity: 0.7;
}

.social {
  padding: 0;
  list-style: none;
  text-align: center;
}

.social__item {
  display: inline-block;
}

.social__item:not(:first-child) {
  margin-left: 1rem;
}

.social__link:hover,
.social__link:focus {
  opacity: 0.8;
}

.social__link:active {
  opacity: 0.7;
}

.social__icon {
  width: 35px;
  height: 35px;
}

.attribution {
  margin: 0;
  font-size: 0.8rem;
  text-align: center;
}

.attribution__link {
  color: #3e52a3;
}

.attribution__link:hover,
.attribution__link:focus {
  opacity: 0.8;
}

.attribution__link:active {
  opacity: 0.7;
}

@media (min-width: 768px) {
  .page-footer .wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
  }

  .page-footer__logo {
    width: 176px;
    height: 53px;
  }

  .page-footer__contacts,
  .page-footer__links,
  .page-footer__social {
    margin-top: 4rem;
    margin-bottom: 3.5rem;
  }

  .contacts {
    width: 40%;
  }

  .contacts__phone::before {
    top: 4px;
  }

  .contacts__email::before {
    top: 7px;
  }
}

@media (min-width: 875px) {
  .page-footer {
    margin-top: -15rem;
  }
}

@media (min-width: 1240px) {
  .contacts {
    display: grid;
    grid-template-columns: 57% 33%;
    -moz-column-gap: 10%;
         column-gap: 10%;
    width: 50%;
  }

  .contacts__location {
    grid-row: 1 / 3;
    margin: 0;
  }

  .contacts__phone {
    margin: 0;
  }

  .contacts__email {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    margin: 0;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
